# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Python venv
.venv/
venv/
env/

# OS files
.DS_Store

# Logs
logs
*.log

# Build output
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Mac
.DS_Store
